<launch>
  <node name="camera_viewer" pkg="image_view" type="image_view">
     <remap from="image" to="webcam/image_raw" />
  </node>
  <node name="projector_camera_calibration" pkg="projector_camera_calibration" type="projectorcameracalibrator.py" output="screen">
    <param name="projected_chessboard_corners_x" value="9"/>		       
    <param name="projected_chessboard_corners_y" value="7"/>
    <param name="projected_chessboard_spacing" value="40"/>
    <param name="printed_chessboard_corners_x" value="8"/>
    <param name="printed_chessboard_corners_y" value="6"/>
    <param name="printed_chessboard_spacing" value="0.028702"/>
    <param name="projector_camera_info_file_name" value="/home/davidmandle/scanner_info.yaml"/>
    <remap from="image_stream" to="/webcam/image_raw"/>
    <remap from="camera_info" to="/webcam/camera_info"/>
    <remap from="get_projector_info" to="/projector/get_projector_info"/>
    <remap from="set_projection" to="/projector/set_projection"/>
    <remap from="set_projector_info" to="/projector/set_projector_info"/>
  </node>
</launch>