<?xml version="1.0" ?>
<launch>
	<group ns="prosilica">
    <include file="cam_settings.xml"/>
    <param name="trigger_mode" type="str" value="streaming"/>
    <param name="ip_address" type="str" value="10.68.0.20"/>
  </group>
  <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" respawn="\false" output="screen"/>

	<node name = "ancient_powercube"
				package = "ancient_powercube"
				type = "node"/>
				
	<node name = "collect_multiview"
				package = "multiview"
				type = "collect_multiview"
				args = "5"/>
				

</launch>
