<launch>
  <param name="master_description" textfile="$(find openarms)/urdf/human.xml"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="master_state"/>
    <remap from="robot_description" to="master_description"/>
  </node>
  <!--<node name="rviz" pkg="rviz" type="rviz"/>-->
</launch>
