<launch>
  <!--
  <node name="joy_0" pkg="joy" type="joy_node">
    <remap from="joy" to="joy_0"/>
    <param name="dev" value="/dev/input/js0"/>
  </node>
  <node name="joy_1" pkg="joy" type="joy_node">
    <remap from="joy" to="joy_1"/>
    <param name="dev" value="/dev/input/js1"/>
  </node>
  -->
  <!--<param name="robot_description" textfile="$(find openarms)/urdf/oa6.xml"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>-->
  <node name="rviz" pkg="rviz" type="rviz"/>
  <!--<node name="oa_state" pkg="openarms" type="oa-state"/>-->
</launch>
